*{
    font-family: verdana;
    margin: 0;
}

body{
    background: #eee;
}

.wrapper{
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
}

/* menu base styles */

nav{
    background: #333;
}
nav ul{
  list-style-type: none ;
  padding: 0;
}
nav a{
    text-decoration: none;
    text-align: center;
    color: #fff;
    display: block;
    padding: 10px;
    background-color: #777;
}
nav a:hover{
    background-color: #555;
}

nav{
    display: flex;
    justify-content: space-between;
}

a.tw{
    background-image: url(img/tw.png) no-repeat center;
    background-size: 80%;
}
a.fb{
    background-image: url(img/fb.png) no-repeat center;
    background-size: 80%;
}
.social{
    max-width: 80px;
}
.social a{
    text-indent: -10000px;
}

nav ul.social{
    flex: 1 1 0;
}
/* flex styles */
@media screen and (min-width: 768px){
    nav ul{
        display: flex;
        justify-content: flex-start;
    }
    nav li{
        flex: 1 1 0;
    }
}